header {
    background-color: rgba(255, 255, 255, 1);
    .header {
        @media (max-width:1064px) {
        gap: 20px;
        padding: 5px 16px;
        }
    }
.logo {
    @media (max-width:1468px) {
        font-size: 40px;
    }
    @media (max-width:1064px) {
        font-size: 20px;
    }
}
.Header_svg {
    @media (max-width:1468px) {
        width: 30px;
        height: 30px;
    }
}
.header_info_text {
    @media (max-width:1468px) {
     font-size: 15px;
    }  
}
.header_btn {
    @media (max-width:1468px) {
        padding: 5px 7px;
        font-size: 15px;
       } 
       @media (max-width:1064px) {
        font-size: 12px;
    }
}
.header_info_box {
    @media (max-width:1064px) {
       display: none;
        }
}
.low_res_visible_info {
    display: none;
    @media (max-width:1064px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 16px;
        }
}
.menu {
    @media (max-width:1064px) {
      position: absolute;
      background-color: white;
      top: 58px;
      justify-content: flex-start;
      padding: 20px ;
      ul {
        flex-direction: column;
        @media (max-width:594px) {
        gap: 10px;
            
        }
  li {
    @media (max-width:1064px) {
        a {
            border-bottom: 1px solid transparent;
            &:hover {border-color: #005494;}
        }
    }
    @media (max-width:594px) {
        a {
            font-size: 15px;
        }
    }
  }
       
      }
    }
}
.header_right_bar {
    @media (max-width:1064px) {
       gap: 15px;
     }
}
.menu_btn {
    @media (max-width:1064px) {
       display: flex;
     }
}
.menu_active {
    @media (max-width:1064px) {
display: flex;
z-index: 99999999999999;
    }
}
.menu_disable {
    @media (max-width:1064px) {
    display: none;
    }
}
}
.fixed_form_container {
    @media (max-width:817px) {
        h1 {
            font-size: 15px;
        }
        p {
            font-size: 15px;
        }
        span {
            font-size: 13px;
        }
        svg {
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width:781px) { 
        width: 80%;
    }
    @media (max-width:485px) { 
        width: 90%;
    }
    @media (max-width:445px) { 
        width: 95%;
        input {
            &::placeholder {
                font-size: 10px;
                left: 4px;
            }
        }
    }
}